@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);
html {
    width: 100%;
    height: 100%;
    font-family: Oswald, sans-serif;

    min-width: 500px;
    width: auto !important;
}
body {
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #EFEFEF 0%, #a9a9a9 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #EFEFEF 0%, #a9a9a9 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #EFEFEF 0%, #a9a9a9 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEFEF), color-stop(100, #a9a9a9));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #EFEFEF 0%, #a9a9a9 100%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #EFEFEF 0%, #a9a9a9 100%);

    /* background: url("http://cdn.pcwallart.com/images/gradient-black-to-white-square-wallpaper-4.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .loadingModal {
    display: block;
}
.loadingModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}
#title {
    position: absolute;
    font-size: 32px;
    font-weight: 400;
    color: #b2543d;
    right: 7%;
    top: -5px;
    font-family: Oswald, sans-serif;
}
/* IMPORT BUTTONS */
button {
    display: inline-block;
    padding: 4px 16px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
button:focus {
    outline: none;
}
.importButtons button.active {
    background-color: #6d7993;
}
.fileButton { 
    width: 70px;
    color: black;
    background: white;
    border: solid 3px;
    border-color: black;
    border-radius: 50px 0px 0px 50px;
}
.urlButton {
    width: 70px;
    color: black;
    background: white;
    border: solid 3px;
    border-color: black;
    border-radius: 0px 50px 50px 0px;
}
    .fileButton:hover,
    .urlButton:hover {
        cursor: hand;
        border-color: #c2c2b2;
        color: #c2c2b2;
    }
    .fileButton:active,
    .urlButton:active {
    }
/* INPUT FILE */
.inputFile {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
    .inputFile + label {
        height: 30px;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #c2c2b2;
        display: inline-block;
        padding: 4px 16px;
        visibility: hidden;
    }
    .inputFile + label.active {
        visibility: visible;
    }
    .inputFile:focus + label,
    .inputFile + label:hover {
        background-color: gray;
    }
    .inputFile + label {
        cursor: hand
    }
/* INPUT URL */
.inputUrl {
    position: absolute;
    text-align: center;
    width: 50%;
    height: 35px;
    left: 25%;
    border: 3px solid;
    border-color: #c2c2b2;
    visibility: hidden;
}
    .inputUrl:focus {
        outline: none;
        border-color: gray;
    }
    .inputUrl.active {
        visibility: visible;
    }
/* PAGES */
#pages {
}
#pages > div {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}
#pages > div.active {
    opacity: 1;
    z-index: 300;
    visibility: visible;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}
.page {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 74px;
    border: 3px solid #6d7993;
    border-color: #6d7993;
    height: 500px;
}
.page div,
.page img {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* PAGE 1 */
#page1 {
    height: 100%;
}
#page1 #left {
    width: 35%;
    height: 75%;
    left: 0;
    text-align: center;
    border-right: 1.5px solid;
    border-color: #6d7993;
}
    #page1 #left #image1 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -webkit-transition: opacity 0.4s ease-in;
        /* content: url("https://68.media.tumblr.com/20b34e8d12d4230f9b362d7feb148c57/tumblr_oiwytz4dh41tf8vylo1_1280.png"); */
    }
        #page1 #left:hover #image1 {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.1;
        }
        #page1 #left:hover #desc1 {
            visibility: visible;
        }
    #page1 #left #desc1 {
        width: 100%;
        height: 100%;
        text-align: center;
        word-wrap: break-word;
        visibility: hidden;
        font-size: 3vw;
        left: 0;
        margin-left: -4px;
        margin-top: 4px;
        padding: 0px 4px 0px 4px;
        transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -webkit-transition: opacity 0.4s ease-in;
    }
    #page1 #left #selectButton1 {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        border: solid 2px green;
        color: green;
        left: 35%;
        bottom: 5%;
        padding: 2px 8px 2px 8px;
        font-size: 2vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
    }
        #page1 #left #selectButton1:hover {
            background: green;
            color: white;
            cursor: hand;
        }
        #page1 #left:hover #selectButton1 {
            visibility: visible;
            opacity: 1;
        }
#page1 #right {
    width: 35%;
    height: 75%;
    left: 35%;
    text-align: center;
    border-left: 1.5px solid;
    border-right: 3px solid;
    border-color: #6d7993;
}
    #page1 #right #image2 {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -webkit-transition: opacity 0.4s ease-in;
        /* content: url("https://68.media.tumblr.com/20b34e8d12d4230f9b362d7feb148c57/tumblr_oiwytz4dh41tf8vylo1_1280.png"); */
    }
        #page1 #right:hover #image2 {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.1;
        }
        #page1 #right:hover #desc2 {
            visibility: visible;
        }
    #page1 #right #desc2 {
        width: 100%;
        height: 100%;
        text-align: center;
        word-wrap: break-word;
        visibility: hidden;
        font-size: 3vw;
        left: 0;
        margin-left: -4px;
        margin-top: 4px;
        padding: 0px 4px 0px 4px;
        transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -webkit-transition: opacity 0.4s ease-in;
    }
    #page1 #right #selectButton2 {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        border: solid 2px green;
        color: green;
        left: 35%;
        bottom: 5%;
        padding: 2px 8px 2px 8px;
        font-size: 2vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in;
        -ms-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -webkit-transition: all 0.4s ease-in;
    }
        #page1 #right #selectButton2:hover {
            background: green;
            color: white;
            cursor: hand;
        }
        #page1 #right:hover #selectButton2 {
            visibility: visible;
            opacity: 1;
        }
#page1 #bottom {
    height: 25%;
    width: 70%;
    left: 0;
    bottom: 0;
    border-top: 3px solid;
    border-right: 3px solid;
    border-color: #6d7993;
    font-size: 3vw;
}
#page1 #bottom #questionText {
    width: 100%;
    height: 50%;
    top: 0;
    text-align: center;
    vertical-align: middle;
}
#page1 #bottom #dateText {
    width: 100%;
    height: 50%;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}
#page1 #rightSide {
    width: 30%;
    height: 100%;
    right: 0;
}
/* PAGE 2 */
#page2 {
    height: 100%;
}
#page2 > div {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}
#page2 > div.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}
#page2 #importButton {
    display: none;
}
#page2 #left {
    width: 50%;
    height: 75%;
    left: 0;
    border-right: 1.5px solid;
    border-bottom: 3px solid;
    border-color: #6d7993;
}
    #page2 #left #image1 {
        max-width: 100%;
        max-height: 100%;
        content: url("https://cdn0.iconfinder.com/data/icons/interface-10/128/_upload_image-512.png");
    }
    #page2.active #left #image1:hover {
        cursor: hand;
        opacity: 0.5;
    }
#page2 #right {
    width: 50%;
    height: 75%;
    left: 50%;
    border-left: 1.5px solid;
    border-bottom: 3px solid;
    border-color: #6d7993;
}
    #page2 #right #image2 {
        max-width: 100%;
        max-height: 100%;
        content:url("https://cdn0.iconfinder.com/data/icons/interface-10/128/_upload_image-512.png");
    }
    #page2.active #right #image2:hover {
        cursor: hand;
        opacity: 0.5;
    }
#page2 #bottom {
    height: 25%;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 4vw;
}
    #page2 #bottom #importText {
        position: absolute;
        left: 28%;
        top: 15%;
        text-align: center;
        color: #b2543d;
    }
    #page2 #bottom #resetImport {
        left: 0;
        top: 15%;
        margin-left: 15px;
        color: #b2543d;
        display: none;
    }
        #page2 #bottom #resetImport:hover {
            opacity: 0.5;
            cursor: hand;
        }
    #page2 #bottom #nextPage {
        right: 0;
        top: 15%;
        margin-right: 15px;
        text-align: right;
        display: none;
    }
        #page2 #bottom #nextPage:hover {
            opacity: 0.5;
            cursor: hand;
        }
#descriptionPage {

}
#questionSection {
    width: 100%;
    height: 20%;
    border: solid;
}
    #question {
        width: 100%;
        height: 100%;
        font-size: 4vw;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        background: transparent;
    }
#croppedSection {
    width: 100%;
    height: 60%;
    top: 20%;
    border: solid;
}
    #croppedImg1 {
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }
    #croppedImg2 {
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }
    #description1 {
        position: absolute;
        left: 0;
        outline: none;
        resize: none;
        font-size: 3vw;
        background: transparent;
    }
    #description2 {
        position: absolute;
        left: 0;
        outline: none;
        resize: none;
        font-size: 3vw;
        background: transparent;
    }
#bottomNav {
    width: 100%;
    height: 20%;
    bottom: 0;
    border: solid;
    font-size: 4vw;
}
    #bottomNav #prevPage {
        left: 0;
        top: 7%;
        margin-left: 15px;
    }
        #bottomNav #prevPage:hover {
            cursor: hand;
            opacity: 0.5;
        }
    #bottomNav #submit {
        right: 0;
        top: 7%;
        margin-right: 15px;
        text-align: right;
        color: green;
    }
        #bottomNav #submit:hover {
            cursor: hand;
        }

/* PAGE 3 */
#page3 {

}
/* NAVIGATION BAR */
#topnav,
#topnav ul,
#topnav ul li,
#topnav ul li a {
    top: -5;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#topnav:after,
#topnav > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#topnav {
    width: 90%;
    margin: 0 auto;
    font-family: Oswald, sans-serif;
    line-height: 1;
}
#topnav ul {
    /* background: #ffffff; */
    background-color: rgba(255,0,0,0);
    float: left;
}
#topnav > ul > li {
    float: left;
}
#topnav.align-center > ul {
    font-size: 0;
    text-align: center;
}
#topnav.align-center > ul > li {
    display: inline-block;
    float: none;
}
#topnav.align-right > ul > li {
    float: right;
}
#topnav.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -4px;
}
#topnav > ul > li > a {
    z-index: 2;
    padding: 36px 30px 18px 30px;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}
#topnav > ul > li.active > a,
#topnav > ul > li:hover > a,
#topnav > ul > li > a:hover {
    color: #ffffff;
}
#topnav > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}
#topnav > ul > li.active > a:after,
#topnav > ul > li:hover > a:after,
#topnav > ul > li > a:hover:after {
    background: #6d7993;
}
